


      <div id="sidebar">
            <div class="toggle-btn" onclick="show()">
                <span></span>
                <span></span>
                <span></span>
            </div>
    
        <ul>
            <li><a href="/">Latest Posts</a></li>
            <li> <a href="/archives.html">Older Posts</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
        </div>


    



<!-- Old Nav
<ul>
      <li><a href="/" class="active">Latest Posts</a></li>
      <li> <a href="/archives.html">Older Posts</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/contact.html">Contact</a></li>
</ul>
-->