@import url('https://fonts.googleapis.com/css?family=Heebo|Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Fenix');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

$ff-ss: 'Heebo', sans-serif;
$ff-s: 'Fenix', serif;
$ff-old: 'Old Standard TT', serif;
$ff-nav: 'Oswald', sans-serif;
$ff-salt: 'Black Ops One', sans-serif;
$ff-med: 'MedievalSharp', sans-serif;