@import "typography";

// Body layout //

html, body {
  margin: 0;
  overflow: visible;
  min-height: 100%;
  min-width: 100%;
  background-color: #fff8dc;
  font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h1 {
  line-height: 1.2em;
}

h2 {
  padding-left: 25px;
  font-family: $ff-s;
  text-decoration: underline;
}

.highlight {
  color: #221e1d;
  font-weight: bold;
  font-style: italic;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content content"
    "footer footer footer";
  grid-template-columns: 180px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0;
  min-height: 100vh;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  line-height: 1.4em;
}

// Navigation Properties

nav {
  height: 100%;
  margin-left: 0;
  grid-area: nav;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #8298d3;
}

.nav_list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 180px auto;
  background-color: #8298d3;
}

.nav_list ul li a {
  display:block;
  text-align: center;
  padding: .5em 1.0em .5em 1.0em;
  text-decoration: none;
  font-weight: bold;
  color: #221e1d;
  font-family: $ff-s;
  border-bottom: #000 1px;
}

.nav_list ul li a:hover {
      background-color: #555;
      text-decoration: none;
      color: white;
}

header {
  height: auto;
  grid-area: header;
  background-image:
    linear-gradient(to right, rgb(224, 229, 153), #b95808);
}

.title {
  font-family: $ff-s;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
  width: 75%;
} 

.title-area {
  text-align: auto;
  color: black;
  padding: 15px;
  margin: 0;
  border-bottom: 2px solid #000000;
}

.sub-title {
  text-align: left;
  font-family: $ff-old;
  font-weight: bold;
  line-height: 1.0em;
  color: rgb(58, 55, 14);
  width: auto;
}

main {
  grid-area: content;
  padding: 0px 20px;
  margin: 0;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

.current-post {
  padding-left: 10px;
  margin: 0;
  line-height: 1.2em;
  border-bottom:2px solid grey;
}

.previous-posts {
  background: black;
  grid-column: 2 / 3;
  padding: 0;
  margin: 0;
}

.archive li {
  padding: 20px;
  text-decoration: none;
  font-family: $ff-nav;
  font-display: strong;
}

// Footer Style //

footer {
  grid-area: footer;
  margin: 0px;
  height: 50px;
  background: gray;
  border-top: 2px solid #000;
  color: white;
  font-family: $ff-s;
  display: flex;
  flex-direction: row; 
  flex-shrink: 0;
  justify-content: center; 
  align-items: center;
}

ul {
  padding: 0 10px;
  list-style: none;
  margin: 10px;
}

.myposts li {
  border-bottom:2px solid grey;
  padding-bottom: 10px;
  padding-top: 5px;
}

.postDate {
  font-family: $ff-nav;
  font-weight: bold;
}

.post__desc {
  line-height: 1.4em;
}

.b-title {
  font-family: $ff-s;
  font-size: 1.2rem;
  line-height: 1.2em;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #915609;
}

a:hover {
  color: #0f1b61;
  text-decoration: underline;
}

a {
  target-name: new;
}

.button {
  background-color: #4CAF50; 
  border: 2px solid rgb(0, 0, 0);
  color: white;
  border-radius: 12px;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: $ff-nav;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid rgb(2, 48, 3);
}

/*Floating Back-To-Top Button*/
.myBtn {
  bottom: 10px;
  text-align: center;
  padding: 3px 8px;
  max-width: 30px;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  border: 2px solid rgb(2, 48, 3);
  background-color: #915609;
  border-radius: 4px;
}

/*On Hover Color Change*/
.myBtn:hover {
  background-color: #9eaa87;
  color: black;
  border: 2px solid rgb(2, 48, 3);
}

p {
  grid-column: 2 / 3;
  margin: 2px;
  line-height: 1.3em;
}

.caption {
  font-family: $ff-old;
  margin: 0;
  padding: 0 15px;
  font-weight: bold;
  color: #46291e;
  text-align: center;
  text-decoration: underline;
}

#r_small {
  width:40%;
  float: right;
  margin: 20px;
  border: 1px solid black;
}

#l_small {
  width:40%;
  float: left;
  margin: 20px;
  border: 1px solid black;
}

#stamp {
  height: auto;
  width:200px;
  float: right;
  margin-left: 10px;
  border: 0;
}

img {
  width: 100%;
  height: auto;
  align-self: center;
  padding: 0;
  margin: 0;
  border: 2px solid black;
}

.top_img {
  align-self: left;
  margin: 0;
  padding: 0;
  height: auto;
  width: 300px;
  border: 0;
}

blockquote {
  font-style: italic;
}

@media (max-width: 758px) {

    .nav {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
  }

  div.content{
    margin-left: 0;
  }
    
  .container {
    grid-template-areas: 
    "header"
    "nav"
    "content"
    "footer";

  grid-template-columns: 1fr;
  grid-template-rows: 
    auto
    minmax(75px, auto) 
    1fr 
    minmax(75px, auto) 
    auto;
    }
    
nav {
  margin: 0;
  }
}