---
layout: default
---

<html>
<body>

<h2>Latest Post</h2>

<div class="current-post">

    {% for post in site.posts limit: 1 %}
   <ul>
       <li> 
        <span class="postDate">({{ post.date | date: "%b %-d, %Y" }})</span>
        <span class="post_expt"> {{ post.content | lstrip | truncatewords: 50 }} </span>
        <br>
        </li>
        <br><a class="button" href="{{ post.url }}">READ MORE</a>
    {% endfor %}
    
</ul>

</div>

<h2>Previous Posts</h2>

<section class="card-container">
    <div>
        {% for post in site.posts limit:1 offset:1 %}
        <a class="b-title" href="{{ post.url }}">{{ post.title}}</a><br>
        <span class="postDate">({{ post.date | date: "%b %-d, %Y" }})</span>
        <br>
        <span class="post__desc">{{ post.description }}</span>
        {% endfor %}
    </div>

    <div>
        {% for post in site.posts limit:1 offset:2 %}
        <a class="b-title" href="{{ post.url }}">{{ post.title}}</a><br>
        <span class="postDate">({{ post.date | date: "%b %-d, %Y" }})</span>
        <br>
        <span class="post__desc">{{ post.description }}</span>
        {% endfor %}
    </div>

    <div>
        {% for post in site.posts limit:1 offset:3 %}
        <a class="b-title" href="{{ post.url }}">{{ post.title}}</a><br>
        <span class="postDate">({{ post.date | date: "%b %-d, %Y" }})</span>
        <br>
        <span class="post__desc">{{ post.description }}</span>
        {% endfor %}
    </div>
</section>

</body>
</html>
